#DATA TYPES AND STRUCTURES QUESTIONS

1. What are data structures, and why are they important?

   ->Data structures are organized ways to store and manage data so it can be used efficiently.

   ->They are important because they help in optimizing operations like searching, sorting, and accessing data, making programs faster and more efficient.  


2. Explain the difference between mutable and immutable data types with     examples.

   ->Mutable data types can be changed after creation.
    Mutable: list, dict, set.
    → e.g. a = [1, 2, 3]; a.append(4) changes the list.

   ->Immutable data types cannot be modified once created.
    Immutable: int, str, tuple
    → e.g. b = "hello"; b[0] = "H" it won't add it.

3.  What are the main differences between lists and tuples in Python?

    ->The main difference between lists and tuples are that lists are mutable which means->we can change it after creation.

    ->And tuples are immutable-> we can't change or modify the content once its is created.                

  
4. Describe how dictionaries store data?

   ->Dictionaries are a datatype in python which stores data in form of key     value paires.

   #Syntax

   dict={"key":"value",
         "key":"value",
         "key":"value"..
   }

   #How it stores data
   ->Dictionaries store data in key–value pairs.
   ->Each key is unique and acts as an index to its value.

   #Example
   student_details={"name":"Pragati","age": 20,"Course":"BCA"}


5. Why might you use a set instead of a list in Python?

   ->We might use a set when we need to perform mathematical operations like    union, intersection, or difference between collections — something lists don’t support directly.  

   ->It is used to store unique elements and in sets order of elements doesn,t matter.

   #Example
   nums = {1, 2, 3, 3} → automatically becomes {1, 2, 3}


6. What is a string in Python, and how is it different from a list?

   ->A string in python is a sequence of characters enclosed in "", ''.

   ->it is immutable.

   ->it doesn't store elements of different datatypes.

    #example
    str="hello"

   ->On the other hand lists are mutable and can store elements of different datatypes like str,numbers etc.

   #example
   list=["hello",89]


7. How do tuples ensure data integrity in Python?

   ->Tuples ensure data integrity in Python because they are immutable.
    Once a tuple is created, its elements cannot be changed, added, or removed, preventing accidental modifications.



8. What is a hash table, and how does it relate to dictionaries in Python?

   ->A hash table is a data structure that stores data in key–value pairs.

   ->It uses a hash function to find the index of a key for fast access.

   ->dictionary uses hash table internally.

   ->dictionaries are implemented using hash tables, which makes accessing,   adding, or deleting items very fast.


9.  Can lists contain different data types in Python?

    ->Yes, lists do contain elements of different data types.
  
      #example

      list=["hello",89]

10.  Explain why strings are immutable in Python?

     ->Strings are immutable in Python to ensure data safety and consistency.

      ->Once a string is created, it cannot be changed, which allows Python to reuse string objects efficiently.  

     #example
     str="hello"
     str[2]="p" -->it will not support


11. What advantages do dictionaries offer over lists for certain tasks?

     Dictionaries offer several advantages over lists for certain tasks...

    ->Accessing a value by key is much faster than searching through a list.

    ->Useful for storing and retrieving related data, like name–age pairs.

    ->Ensures each key is unique.

     #example
     student = {"name": "Pragati", "age": 20}  # Fast access: student["age"] ->20

12.  Describe a scenario where using a tuple would be preferable over a list?

     ->sing a tuple would be preferable over a list in some scenario where we want to store fixed, unchangeable data that should not be modified.

     #example
     -adharcard number or pan card number etc.


 13.  How do sets handle duplicate values in Python?
     
      ->In Python, sets automatically remove duplicate values.

      -> When we add elements, only unique items are stored, and any duplicates are ignored.
       
       #example
       num={1,1,1,3,3,2,2,4,4}
       print(num)--->{1,3,2,4}

14.  How does the “in” keyword work differently for lists and dictionaries?

     ->The "in" keyword is used to check membership. It returns True if the item exists in the collection, otherwise False.

     Lists: Checks if a value exists in the list.

     #example
     lst = [1, 2, 3]
     2 in lst  # True   

     Dictionaries: Checks if a key exists (not the value).

     #example
      d = {"a": 10, "b": 20}
     "a" in d  # True
      10 in d   # False


15. Can you modify the elements of a tuple? Explain why or why not?

     WHY NOT->We can not modify the elements of tuple as it is immutable.

     WHY->we could modify a tuple indirectly only if it contains mutable objects (like a list inside a tuple). The tuple itself still can’t be changed, but the mutable object inside it can be.


     #example
     tuple=(1,2,[3,4,5],8,9)
     tuple[2].append(7)---The list inside tuple is modified.
     print(tuple)-- output--(1,2,[3,4,5,7],8,9)

16. What is a nested dictionary, and give an example of its use case?

     ->A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its values.

     ->It is useful for storing structured or hierarchical data.

     #example
     students = {
    "Riya": {"Math": 90, "Science": 85},
    "Billu": {"Math": 75, "Science": 80}
     }

     print(students["Riya"]["Math"])  # Output: 90


17. Describe the time complexity of accessing elements in a dictionary?

     ->Accessing elements in a dictionary in Python has an average time complexity of O(1) (constant time) because dictionaries use a hash table internally.

     ->This means no matter how many items are in the dictionary, finding value by its key takes roughly the same amount of time.


     #example
     d = {"a": 1, "b": 2, "c": 3}
     print(d["b"])  # takes time of O(1)



 18. In what situations are lists preferred over dictionaries?
  
     ->Lists are preferred over dictionaries when:

      -Order matters: You need to maintain the sequence of elements.

      -Duplicate elements are allowed: Lists can store repeated values.

      -Simple collections: You just need a collection of items without key–value pairs.   


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
      ->Dictionaries are unordered because they store items using a hash table, not in a sequence.

      ->This means you cannot get items by position; you must use the key to access values.

      ->Effect: Data retrieval is still fast, but the order of items is not guaranteed.


      #example
      d = {"a": 1, "b": 2, "c": 3}
      print(d["b"])  # Must use key "b" to get value 2


 20.  Explain the difference between a list and a dictionary in terms of data retrieval.     

       ->List: Elements are accessed by index (position).

        #example
        lst = [10, 20, 30]
        print(lst[1])  # Output: 20


      ->Dictionary: Elements are accessed by key, not position.

        #example
        d = {"a": 10, "b": 20}
        print(d["b"])  # Output: 20

#Practical Questions

In [3]:
# 1. Write a code to create a string with your name and print it.

name="Pragati Tiwari"
print(name)

Pragati Tiwari

In [5]:
# 2. Write a code to find the length of the string "Hello World".
str="Hello World"
print(len(str))

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

str= "Python Programming"
print(str[0:3])

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.
str="hello"
print(str.upper())

HELLO

In [8]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
str ="I like apple"
print(str.replace("apple","orange"))

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [14]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list= [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [15]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list= [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [16]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list= ['a', 'b', 'c', 'd']
print(list[1])

b

In [22]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].
list= [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [23]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [27]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple= ('red', 'green', 'blue', 'yellow')
print(tuple[1:4])

('green', 'blue', 'yellow')

In [28]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple= (10, 20, 5, 15)
print(min(tuple))

5

In [34]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple= ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [38]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=("apple","banana","kiwi")
print("kiwi" in tuple)

False

In [46]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a', 'b', 'c'}
print(set)

{'c', 'a', 'b'}

In [47]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set= {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [50]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set= {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [54]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [55]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [56]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"pragati","age":20,"city":"Bhilai"}
print(dict)

{'name': 'pragati', 'age': 20, 'city': 'Bhilai'}

In [59]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict= {'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [62]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict= {'name': 'Alice', 'age': 30}
print(dict["name"])
# print(dict.get("name"))

Alice
Alice

In [64]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)
# can't use (.remove) here
# using pop-- it removes key with value

{'name': 'Bob', 'city': 'New York'}

In [65]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict= {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [66]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3]
print(list)
tuple=(1,2,3)
print(tuple)
dict={"name":"pragati","age":20,"city":"Bhilai"}
print(dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'pragati', 'age': 20, 'city': 'Bhilai'}

In [71]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
list=[]
for i in range(5):
  list.append(random.randint(1,100))
list.sort()
print(list)

[12, 22, 80, 83, 89]

In [72]:
# 28. Write a code to create a list with strings and print the element at the third index.
list=["apple","banana","kiwi"]
print(list[2])

kiwi

In [76]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"pragati","age":20}
dict2={"city":"Bhilai","country":"India"}
dict1.update(dict2)
print(dict1)

{'name': 'pragati', 'age': 20, 'city': 'Bhilai', 'country': 'India'}

In [94]:
# 30.Write a code to convert a list of strings into a set.

fruits = ["apple", "banana", "apple", "orange"]
unique_f = set(fruits)
print(unique_f)

{'orange', 'banana', 'apple'}